apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.2.0
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
  name: vault.vX.Y.Z
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: Vault operator based on the Hashicorp Helm chart
  displayName: Vault
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - vault
  - hashicorp
  - helm
  links:
  - name: Vault
    url: https://vault.domain
  maintainers:
  - email: brett@sdbrett.com
    name: Brett Johnson
  maturity: alpha
  provider:
    name: SDBrett
    url: sdbrett.com
  version: 0.0.0
